* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2%;

    background-color: aliceblue;
}

input {
    padding: 10px;

    border: none;
    border-radius: 5px;

    text-align: center;
}

select {
    padding: 10px;

    border: none;
    border-radius: 5px;
}

.result_btn {
    display: inline-block;

    padding: 10px;

    background-color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: aliceblue;

    border: none;
    border-radius: 5px;
}

.result {
    display: inline-block;

    margin-top: 20px;
    margin-left: 20px;
}